<ul>
  {{#each album in model}}
    <li>
      {{#link-to 'album' album.id}}
        {{album.name}},
        {{album.year}},
        {{album.coverUrl}}
      {{/link-to}}
    </li>
  {{else}}
    <li>No albums found.</li>
  {{/each}}
</ul>